/***
 norwegia.rc - Norwegian ressource file for Minta

 Note to translators:
    Basically you need to translate everything in "..." :-)
    "\t", "%ld", "%s" and the like are special control sequences (C(++)
       programmers will find them familiar) - just leave them as they are.
    Please adjust the hotkeys (the stuff in the
       ACCELTABLE ... BEGIN ... END
       statements) and the corresponding "markers" for the hotkeys in the
       dialogs above ("E~xit" e.g. means underline the "x" to show that
       ALT+"x" is the hotkey for this button)
    It would be nice if you could translate the comments (like this one) too.
    An editor that supports syntax highlighting for *.rc files (like FTE
       or EPM) could make life a bit easier for you.
    If you have any questions, just contact me at  thth@gmx.net

 Thank you very much!
 ***/

/* Please do NOT try to translate the following statement :-) */
RCINCLUDE "src\common.rc"

/** Menu *****************************************************************/ /*fold00*/

MENU ID_MAIN
BEGIN
  SUBMENU "~Filer", WID_MENU_FILES
  BEGIN
    MENUITEM "è~pne...\tAlt+P",        WID_PB_FILES
    MENUITEM "~Auto-Üpne...",          WID_PB_AUTOOPEN
    MENUITEM SEPARATOR
    MENUITEM "~Slett aktive\tAlt+S",   WID_PB_DELETEFROMLIST
    MENUITEM "Sle~tt alle",            WID_PB_DELETEALLFROMLIST
    MENUITEM SEPARATOR
    MENUITEM "~Endrenavn...",          WID_PB_RENAMEALL
    MENUITEM "~List...\tAlt+L",        WID_PB_LIST
    MENUITEM SEPARATOR    
    MENUITEM "~Innstillinger...",      WID_PB_SETTINGS
    MENUITEM SEPARATOR    
    MENUITEM "~Avslutt\tAlt+F4",       WID_PB_EXIT
  END
  SUBMENU "~Tag", WID_MENU_TAG
  BEGIN
/*    MENUITEM "~Klipp",                   WID_PB_CUTTAG
    MENUITEM "Kop~ier",                  WID_PB_COPYTAG
    MENUITEM "~Lim inn",                 WID_PB_PASTETAG
    MENUITEM SEPARATOR */
    MENUITEM "~Lagre aktive",          WID_PB_SAVE
    MENUITEM "Lagre & ~neste\tAlt+N",  WID_PB_SAVENEXT
    MENUITEM "Lagre & ~forrige\tAlt+F",WID_PB_SAVEPREV
    MENUITEM "Lagre ~alt",              WID_PB_SAVEALL
    MENUITEM SEPARATOR
    MENUITEM "~Slett aktive\tAlt+S", WID_PB_REMOVE
    MENUITEM "Sl~ett alt",            WID_PB_REMOVEALL
  END                  
  SUBMENU "~Ekstra", WID_MENU_TAG
  BEGIN
#ifdef _PLAYERCOMMAND_
    MENUITEM "S~pill fil",             WID_PB_PLAY
#endif
    MENUITEM "Vis ~knapper",          WID_PB_SHOWBUTTONS,,MIA_CHECKED
#ifdef _SHOWFILEINFO_
    MENUITEM "Vis ~filinfo",         WID_PB_SHOWFILEINFO,,MIA_CHECKED
#endif
  END                  
  SUBMENU "~Hjelp", 0, MIS_HELP
  BEGIN
    MENUITEM "Hjelp ~innhold...",      HM_HELP_CONTENTS
    MENUITEM "Conte~xt help...",       HM_GENERAL_HELP,MIS_HELP
    MENUITEM "~Generel hjelp...",       WID_MAIN_HELP
//    MENUITEM "~Knapper hjelp...",          HM_KEYS_HELP
    MENUITEM SEPARATOR
    MENUITEM "~Produkt informasjon",   WID_PB_ABOUT
  END
END

/** Data main window *****************************************************/ /*fold00*/

DLGTEMPLATE ID_MAIN LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG  PSZ_NAMEVERSION, ID_MAIN, 82, 11, 382, 193, 0L,
            FCF_SYSMENU | FCF_TITLEBAR | FCF_MINBUTTON | FCF_TASKLIST
    BEGIN
        GROUPBOX        "Ingen filer er valgt", WID_G_FILES, 4, 156, 298, 24
        CONTROL         "", WID_DDL_FILES, 12, 92, 282, 79, WC_COMBOBOX, 
                        CBS_DROPDOWNLIST | WS_GROUP | WS_TABSTOP | 
                        WS_VISIBLE

        GROUPBOX        "", WID_G_FILEINFO, 4, 80, 298, 72

        RTEXT           "Versjon:", WID_ST_VERSION, 10, 132, 60, 12, DT_VCENTER
        ENTRYFIELD      "", WID_E_VERSION, 76, 134, 76, 8, ES_MARGIN | ES_AUTOTAB | 
                        ES_READONLY
        RTEXT           "Lag:", WID_ST_LAYER, 10, 120, 60, 12, DT_VCENTER
        ENTRYFIELD      "", WID_E_LAYER, 76, 122, 76, 8, ES_MARGIN | ES_AUTOTAB | 
                        ES_READONLY
        RTEXT           "Frekvens:", WID_ST_FREQUENCY, 10, 108, 60, 12, DT_VCENTER
        ENTRYFIELD      "", WID_E_FREQUENCY, 76, 110, 76, 8, ES_MARGIN | ES_AUTOTAB | 
                        ES_READONLY
        RTEXT           "Bitrate:", WID_ST_BITRATE, 10, 96, 60, 12, DT_VCENTER
        ENTRYFIELD      "", WID_E_BITRATE, 76, 98, 76, 8, ES_MARGIN | ES_AUTOTAB | 
                        ES_READONLY
        RTEXT           "Modi:", WID_ST_MODE, 10, 84, 60, 12, DT_VCENTER
        ENTRYFIELD      "", WID_E_MODE, 76, 86, 76, 8, ES_MARGIN | ES_AUTOTAB | 
                        ES_READONLY

        CHECKBOX        "Original", WID_CB_ORIGINAL, 166, 134, 62, 10
        CHECKBOX        "Privat", WID_CB_PRIVATE, 166, 124, 62, 10
        CHECKBOX        "Copyright", WID_CB_COPYRIGHT, 166, 114, 62, 10
        CHECKBOX        "CRCs", WID_CB_CRCS, 232, 134, 62, 10
        CHECKBOX        "Blanke", WID_CB_PADDING, 232, 124, 62, 10
//Padding, what is that???

        RTEXT           "Fremheve:", WID_ST_EMPHASIS, 166, 96, 60, 12, DT_VCENTER
        ENTRYFIELD      "", WID_E_EMPHASIS, 232, 98, 60, 8, ES_MARGIN | ES_AUTOTAB | 
                        ES_READONLY
        RTEXT           "Est. tid:", WID_ST_TIME, 166, 84, 60, 12, DT_VCENTER
        ENTRYFIELD      "", WID_E_TIME, 232, 86, 60, 8, ES_MARGIN | ES_AUTOTAB | 
                        ES_READONLY

        GROUPBOX        "Tagget informasjon", WID_G_TAG, 4, 4, 298, 72

        RTEXT           "Tittel:", WID_ST_TITLE, 10, 56, 60, 12, DT_VCENTER
        ENTRYFIELD      "", WID_E_TITLE, 76, 58, 216, 8, ES_MARGIN
        RTEXT           "Artist:", WID_ST_ARTIST, 10, 44, 60, 12, DT_VCENTER
        ENTRYFIELD      "", WID_E_ARTIST, 76, 46, 216, 8, ES_MARGIN
        RTEXT           "Album:", WID_ST_ALBUM, 10, 32, 60, 12, DT_VCENTER
        ENTRYFIELD      "", WID_E_ALBUM, 76, 34, 216, 8, ES_MARGIN
        RTEXT           "èr:", WID_ST_YEAR, 10, 20, 60, 12, DT_VCENTER
        ENTRYFIELD      "", WID_E_YEAR, 76, 22, 46, 8, ES_MARGIN
        RTEXT           "Skjanger:", WID_ST_GENRE, 128, 20, 60, 12, DT_VCENTER
        CONTROL         "", WID_DDL_GENRE, 192, 0, 102, 32, WC_COMBOBOX, 
                        CBS_DROPDOWNLIST | WS_GROUP | WS_TABSTOP | 
                        WS_VISIBLE
        RTEXT           "Kommentar:", WID_ST_COMMENT, 10, 8, 60, 12, DT_VCENTER
        ENTRYFIELD      "", WID_E_COMMENT, 76, 10, 126, 8, ES_MARGIN
        RTEXT           "Spor #", WID_ST_TRACK, 216, 8, 34, 12, DT_VCENTER
        SPINBUTTON      WID_SB_TRACK, 254, 9, 40, 12,
        		SPBS_NUMERICONLY | SPBS_MASTER | SPBS_JUSTRIGHT |
                        WS_GROUP

        PUSHBUTTON      "è~pne...", WID_PB_FILES, 310, 162, 66, 15
        PUSHBUTTON      "~Lagre", WID_PB_SAVE, 310, 140, 66, 15
        PUSHBUTTON      "Lagre alt", WID_PB_SAVEALL, 310, 124, 66, 15
        PUSHBUTTON      "~Slett", WID_PB_REMOVE, 310, 102, 66, 15
        PUSHBUTTON      "Slett alt", WID_PB_REMOVEALL, 310, 86, 66, 15
        PUSHBUTTON      "~List...", WID_PB_LIST, 310, 64, 66, 15
        PUSHBUTTON      "~Om", WID_PB_ABOUT, 310, 42, 66, 15
        PUSHBUTTON      "~Avslutt", WID_PB_EXIT, 310, 4, 66, 15
        PUSHBUTTON      "Hjelp", WID_PB_HELP, 310, 26, 66, 15, BS_HELP | 
                        BS_NOPOINTERFOCUS
    END
END

ACCELTABLE ID_MAIN PRELOAD
BEGIN
   "a",    WID_PB_EXIT, CHAR, ALT
   "p",    WID_PB_FILES, CHAR, ALT
   "l",    WID_PB_SAVE, CHAR, ALT
   "s",    WID_PB_REMOVE, CHAR, ALT
   "o",    WID_PB_ABOUT, CHAR, ALT
   "l",    WID_PB_LIST, CHAR, ALT
   VK_F4,  WID_PB_EXIT, VIRTUALKEY, ALT
   "n",    WID_PB_SAVENEXT, CHAR, ALT
   "f",    WID_PB_SAVEPREV, CHAR, ALT
   "+",    WID_PB_SAVENEXT, CHAR, ALT
   "-",    WID_PB_SAVEPREV, CHAR, ALT
   "s",    WID_PB_DELETEFROMLIST, CHAR, ALT

   ".",    WID_PB_TEST, CHAR, ALT
END

/** Data lister window ***************************************************/ /*fold00*/

DLGTEMPLATE ID_DLG_LISTER LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG  "Lag liste", ID_DLG_LISTER, 78, 57, 300, 110, WS_VISIBLE,
            FCF_SYSMENU | FCF_TITLEBAR
    BEGIN
        GROUPBOX        "Listefil", WID_NIL, 4, 82, 292, 25
        ENTRYFIELD      "", WID_E_LISTFILENAME, 12, 88, 228, 8, ES_MARGIN
        PUSHBUTTON      "~Finn...", WID_PB_FIND, 246, 86, 44, 12

        GROUPBOX        "Inkluder informasjon om", WID_NIL, 4, 22, 146, 58
        LISTBOX         WID_LB_INCLUDE, 10, 27, 132, 44, LS_MULTIPLESEL

        GROUPBOX        "Valg", WID_NIL, 156, 22, 140, 58
        AUTOCHECKBOX    "Ut liste ~hode", WID_CB_OUTPUTHEADER,
                        162, 59, 128, 10
        AUTOCHECKBOX    "Ut total ~tid", WID_CB_OUTPUTTIME,
                        162, 48, 128, 10
        AUTOCHECKBOX    "~Autojuster koloner", WID_CB_AUTOSIZE,
                        162, 37, 128, 10
        AUTOCHECKBOX    "~Kun filer med tag", WID_CB_ONLYTAGGED,
                        162, 26, 128, 10

        DEFPUSHBUTTON   "~Ok", WID_PB_OK, 4, 3, 50, 14
        PUSHBUTTON      "Avbryt", WID_PB_CANCEL, 60, 3, 50, 14
        PUSHBUTTON      "Hjelp", WID_NIL, 246, 3, 50, 14, BS_HELP | 
                        BS_NOPOINTERFOCUS
    END
END

ACCELTABLE ID_DLG_LISTER PRELOAD
BEGIN
   "f",    WID_PB_FIND, CHAR, CONTROL
   "t",    WID_CB_OUTPUTTIME, CHAR, CONTROL
   "h",    WID_CB_OUTPUTHEADER, CHAR, CONTROL
   "a",    WID_CB_AUTOSIZE, CHAR, CONTROL
   "o",    WID_PB_OK, CHAR, CONTROL
   VK_ESC, WID_PB_CANCEL, VIRTUALKEY
END

/** Data product info window *********************************************/ /*fold00*/

DLGTEMPLATE ID_DLG_ABOUT LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG  "Om ""Minta""", ID_DLG_ABOUT, 90, 56, 250, 80, WS_VISIBLE, 
            FCF_SYSMENU | FCF_TITLEBAR
    BEGIN
        ICON            1, ID_MAIN, 8, 58, 21, 16, WS_GROUP
        LTEXT           PSZ_NAMEVERSION, WID_NIL, 42, 64, 202, 9
                        PRESPARAMS PP_FOREGROUNDCOLOR, 0x00C80A0AL
        LTEXT           "MP3 informasjon, tagging og liste verktõy",
                        WID_NIL, 42, 53, 202, 8
        LTEXT           "Copyright ∏ 1998-2002 Thorsten Thielen", WID_NIL, 42, 44, 
                        202, 8
        LTEXT           "Internett: thth@gmx.net", WID_NIL, 42, 32, 202, 8
        LTEXT           "WWW: http://www.teamos2.ipcon.de/~thielen/programs/minta",
                        WID_NIL, 42, 13, 202, 17, DT_WORDBREAK
        LTEXT           "Norsk oversetter: Jostein Ullestad, HÜvard Mork", WID_NIL,
                        42, 4, 202, 8
        DEFPUSHBUTTON   "Ok", WID_NIL, 8, 4, 22, 26
    END
END

/** Data find directory dialog *******************************************/ /*fold00*/

DLGTEMPLATE ID_DLG_FINDDIR LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG  "Sõke katalog", ID_DLG_FINDDIR, 116, 32, 200, 150,
    	    WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
    BEGIN
        LTEXT           "~Stasjon:", WID_NIL, 6, 139, 188, 8, DT_MNEMONIC
        CONTROL         "", WID_LB_DRIVES, 6, 88, 188, 50, WC_COMBOBOX, 
                        CBS_DROPDOWNLIST | WS_GROUP | WS_TABSTOP | 
                        WS_VISIBLE
        LTEXT           "~Kataloger:", WID_NIL, 6, 115, 188, 8, DT_MNEMONIC
        LISTBOX         WID_LB_DIRECTORIES, 6, 33, 188, 80
        LTEXT           "", WID_ST_PATH, 6, 22, 188, 8
        DEFPUSHBUTTON   "~Ok", DID_OK, 4, 4, 40, 14
        PUSHBUTTON      "Avbryt", DID_CANCEL, 48, 4, 40, 14
//Abbruch in english???
    END
END

ACCELTABLE ID_ACCELTABLE_FINDDIR
BEGIN
        "o", DID_OK, CONTROL
        "k", WID_LB_DIRECTORIES, CONTROL
        "s", WID_LB_DRIVES, CONTROL
        VK_ESC, DID_CANCEL, VIRTUALKEY
END

/** Data settings window *************************************************/ /*fold00*/

DLGTEMPLATE ID_DLG_SETTINGS LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG  "Minta instillinger", ID_DLG_SETTINGS, 104, 26, 280, 186, 0L,
            FCF_SYSMENU | FCF_TITLEBAR
    BEGIN
        NOTEBOOK        WID_NB_SETTINGS, 5, 21, 270, 160, BKS_BACKPAGESTR | 
                        BKS_MAJORTABTOP | BKS_ROUNDEDTABS | 
                        BKS_TABTEXTCENTER | BKS_SPIRALBIND | WS_GROUP |
                        BKS_TABBEDDIALOG
        DEFPUSHBUTTON   "~Ok", WID_PB_OK, 5, 4, 60, 14
        PUSHBUTTON      "~Angre", WID_PB_UNDO, 70, 4, 60, 14
        PUSHBUTTON      "Hjelp", WID_PB_HELP, 215, 4, 60, 14, BS_HELP | 
                        BS_NOPOINTERFOCUS
    END
END

DLGTEMPLATE ID_DLG_SETTINGSPAGE1 LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG  "", ID_DLG_SETTINGSPAGE1, 10, 10, 220, 120, NOT FS_DLGBORDER | 
            WS_VISIBLE
    BEGIN
        GROUPBOX        "Gi tilbakemelding nÜr...", WID_NIL, 5, 51, 210, 64
        AUTOCHECKBOX    "Filer er lastet inn", WID_CB_NOTIFYLOAD,
        		11, 95, 198, 10
        AUTOCHECKBOX    "Tag er fjernet ifra filer", WID_CB_NOTIFYREMOVE,
        		11, 85, 198, 10
        AUTOCHECKBOX    "Tag er lagret til filer", WID_CB_NOTIFYSAVE,
        		11, 75, 198, 10
        AUTOCHECKBOX    "Filer er lagret i listen", WID_CB_NOTIFYLIST,
        		11, 65, 198, 10
        AUTOCHECKBOX    "Filer er omdõpt", WID_CB_NOTIFYRENAME,
        		11, 55, 198, 10
        GROUPBOX        "Tilbakemeldingsstil", WID_NIL, 5, 5, 210, 42
/* Note: You do NOT need to translate the following three statements word by word :-) */
        AUTORADIOBUTTON """Klikk bort"" meldingsboks", WID_RB_CLICKAWAY,
        		11, 28, 198, 10, WS_TABSTOP | WS_GROUP
        AUTORADIOBUTTON "Automatisk tidskontrollert tilbakemelding", WID_RB_TIMER,
        		11, 18, 198, 10, WS_TABSTOP
        AUTORADIOBUTTON "Audio-akustisk tone enhet", WID_RB_BEEP,
        		11, 8, 198, 10, WS_TABSTOP
    END
END

DLGTEMPLATE ID_DLG_SETTINGSPAGE2 LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG  "", ID_DLG_SETTINGSPAGE2, 10, 10, 220, 120, NOT FS_DLGBORDER | 
            WS_VISIBLE
    BEGIN
        AUTOCHECKBOX    "Behold (noe) tag info under file bytte",
        		WID_CB_KEEP, 11, 101, 200, 10
        GROUPBOX        "Behold...", WID_NIL, 5, 53, 210, 44
	AUTOCHECKBOX    "Titel", WID_CB_KEEPTITLE, 11, 77, 90, 10
	AUTOCHECKBOX    "Artist", WID_CB_KEEPARTIST, 117, 77, 90, 10
	AUTOCHECKBOX    "Album", WID_CB_KEEPALBUM, 11, 67, 90, 10
	AUTOCHECKBOX    "èr", WID_CB_KEEPYEAR, 117, 67, 90, 10
	AUTOCHECKBOX    "Sjanger", WID_CB_KEEPGENRE, 11, 57, 90, 10
	AUTOCHECKBOX    "Kommentar", WID_CB_KEEPCOMMENT, 117, 57, 90, 10
	GROUPBOX        "Valg", WID_NIL, 5, 5, 210, 44
        AUTOCHECKBOX    "Inkrementer/dekrementer spor nummer",
        		WID_CB_ADJUSTTRACK, 11, 29, 198,  10
        AUTOCHECKBOX    "Behold om info ikke allered er tilstede",
        		WID_CB_ONLYIFMISSING, 11,19, 198, 10
    END
END

DLGTEMPLATE ID_DLG_SETTINGSPAGE3 LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG  "", ID_DLG_SETTINGSPAGE3, 10, 10, 220, 120, NOT FS_DLGBORDER | 
            WS_VISIBLE
    BEGIN
        GROUPBOX        "Les sjanger ifra fil...", WID_NIL, 5, 92, 210, 23
        ENTRYFIELD      "", WID_E_GENRESFILE, 13, 97, 194, 8, ES_MARGIN
        GROUPBOX        "Kommando til spiller", WID_NIL, 5, 65, 210, 23
        ENTRYFIELD      "", WID_E_PLAYERCOMMAND, 13, 70, 194, 8, ES_MARGIN
        GROUPBOX        "Andre valg", WID_NIL, 5, 5, 210, 56
        AUTOCHECKBOX    "Bruk filnavn som titel dersom titel mangler",
        		WID_CB_FILENAMETOTITLE, 11, 42, 198, 10
        AUTOCHECKBOX    "Bruk skreddersyd fildialog",
        		WID_CB_CUSTOMFILEDIALOG, 11, 32, 198, 10
        AUTOCHECKBOX    "Ingen advarsel om ugyldige filer",
        		WID_CB_NOINVALIDMP3WARNING, 11, 22, 198, 10
    	AUTOCHECKBOX    "Kun les: inputfelter som kun les",
        		WID_CB_ONLYREADONLY, 11, 12, 198, 10
    END
END

DLGTEMPLATE ID_DLG_SETTINGSPAGE4 LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG  "", ID_DLG_SETTINGSPAGE4, 10, 10, 220, 120, NOT FS_DLGBORDER | 
            WS_VISIBLE
    BEGIN
        GROUPBOX        "Program", WID_NIL, 5, 62, 119, 54
        LISTBOX         WID_LB_LANGUAGES, 11, 66, 106, 40, LS_NOADJUSTPOS
        GROUPBOX        "Online hjelp", WID_NIL, 5, 5, 119, 54
        LISTBOX         WID_LB_LANGUAGESHELP, 11, 9, 106, 40, LS_NOADJUSTPOS
        CONTROL         1, 1, 130, 5, 84, 36, WC_STATIC, SS_BITMAP | 
                        WS_GROUP | WS_VISIBLE
        LTEXT           "Merk: Denne innstilling vil fõrst tre i kraft "
                        "ved neste program oppstart.",
                        WID_ST_LANGNOTE, 130, 45, 84, 70, 
                        DT_WORDBREAK
    END
END

/** Data notification window *********************************************/ /*fold00*/

DLGTEMPLATE ID_DLG_NOTIFY LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG  "", ID_DLG_NOTIFY, 160, 104, 200, 40, WS_VISIBLE, FCF_TITLEBAR
    BEGIN
        CTEXT   "", WID_ST_NOTIFY, 4, 2, 192, 36, DT_WORDBREAK
    END
END

/** Data renamer window **************************************************/ /*fold00*/

DLGTEMPLATE ID_DLG_RENAMER LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG  "Auto-omdõp filer", ID_DLG_RENAMER, 52, 48, 270, 104, WS_VISIBLE, 
            FCF_SYSMENU | FCF_TITLEBAR
    BEGIN
        GROUPBOX        "Omdõp mal", WID_NIL, 4, 76, 262, 24
        ENTRYFIELD      "", WID_E_TEMPLATE, 12, 82, 246, 8, ES_MARGIN
        GROUPBOX        "Valg", WID_NIL, 4, 24, 262, 50
        AUTOCHECKBOX    "~Begrens lengden pÜ navn til ikke mer enn ...",
                        WID_CB_LIMITLENGTH, 10, 54, 250, 10
        SPINBUTTON      WID_SB_LENGTH, 24, 42, 38, 12, SPBS_MASTER | WS_GROUP
        LTEXT           "tegn", WID_NIL, 66, 42, 194, 8
        AUTOCHECKBOX    "Erstatt  ~mellomrom med understrek", WID_CB_REPLACESPACES,
                        10, 28, 250, 10
        DEFPUSHBUTTON   "~Omdõp", WID_PB_RENAME, 4, 4, 60, 16
        PUSHBUTTON      "Avbryt", WID_PB_CANCEL, 68, 4, 60, 16
        PUSHBUTTON      "Hjelp", WID_PB_HELP, 206, 4, 60, 16, BS_HELP | 
                        BS_NOPOINTERFOCUS
    END
END

ACCELTABLE ID_DLG_RENAMER PRELOAD
BEGIN
   "b",    WID_CB_LIMITLENGTH, CHAR, CONTROL
   "m",    WID_CB_REPLACESPACES, CHAR, CONTROL
   "o",    WID_PB_RENAME, CHAR, CONTROL
   VK_ESC, WID_PB_CANCEL, VIRTUALKEY
END

/** File dialog window ***************************************************/ /*fold00*/

DLGTEMPLATE ID_DLG_FILE LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG  "", ID_DLG_FILE, 70, 22, 300, 145, WS_VISIBLE, FCF_SYSMENU | 
            FCF_TITLEBAR
    BEGIN
        LTEXT           "~Filnavn", DID_FILENAME_TXT, 4, 127, 48, 12
        ENTRYFIELD      "", DID_FILENAME_ED, 58, 131, 236, 8, ES_MARGIN
        LTEXT           "~Type", DID_FILTER_TXT, 4, 114, 46, 12, DT_VCENTER
        CONTROL         "", DID_FILTER_CB, 56, 81, 240, 45, WC_COMBOBOX, 
                        CBS_DROPDOWNLIST | WS_GROUP | WS_TABSTOP | 
                        WS_VISIBLE
        LTEXT           "~Stasjoner", DID_DRIVE_TXT, 4, 103, 34, 8
        CONTROL         "", DID_DRIVE_CB, 4, 22, 34, 80, WC_COMBOBOX, 
                        CBS_DROPDOWNLIST | WS_GROUP | WS_TABSTOP | 
                        WS_VISIBLE
        LTEXT           "~Kataloger", DID_DIRECTORY_TXT, 44, 103, 122, 8
        LISTBOX         DID_DIRECTORY_LB, 44, 22, 122, 80, LS_NOADJUSTPOS | LS_OWNERDRAW | LS_HORZSCROLL
        LTEXT           "F~iler", DID_FILES_TXT, 172, 103, 124, 8
        LISTBOX         DID_FILES_LB, 172, 22, 124, 80, LS_NOADJUSTPOS | 
                        LS_HORZSCROLL
        DEFPUSHBUTTON   "~Ok", DID_OK_PB, 4, 4, 50, 14
        PUSHBUTTON      "~Avbryt", DID_CANCEL_PB, 60, 4, 50, 14
    END
END

/** String table *********************************************************/ /*fold00*/

STRINGTABLE
{
    IDS_ERROR_GENREFILEHEADING              "SJANGER FIL FEIL"
    IDS_ERROR_COULDNOTOPENGENREFILE         "Kunne ikke Üpne sjanger fil '%s'. Feil %d."

    IDS_ERROR_HELPERHEADING                 "HJELP FEIL"
    IDS_ERROR_COULDNOTINITHELP              "Kunne ikke initalisere online hjelp."
    IDS_ERROR_COULDNOTINITHELPFILE          "Kunne ikke initalisere online hjelp. Finnes hjelpefil '%s' i Minta's katalog?"

    IDS_ERROR_BORINGLISTHEADING             "DETTE KOMMER TIL è BLI EN KJEDELIG LISTE ..."
    IDS_ERROR_BORINGLIST                    "Du mÜ selektere minst et valg som skal bli inkludert i listen."

    IDS_ERROR_LISTFILEHEADING               "LISTEFIL FEIL"
    IDS_ERROR_MUSTGIVEVALIDLISTFILENAME     "Du mÜ oppgi et gyldig listefil navn."

    IDS_ERROR_GENERALHEADING                "FEIL"
    IDS_ERROR_WRONGGENREFOUND               "Feil sjanger funnet for MP3 fil."

    IDS_SCANNINGFORMAT                      "Skanner - %s"
    IDS_WRITINGFORMAT                       "Skriver - %s"
    IDS_IGNORINGFORMAT                      "Ignorerer - %s"
    IDS_SEARCHINGFORMAT                     "Sõker - %s"
    IDS_SAVINGFORMAT                        "Lagrer - %s"
    IDS_RENAMINGFORMAT                      "Omdõper - %s"
    IDS_REMOVINGFORMAT                      "Sletter - %s"

    IDS_FILESWRITTENTOLISTHEADING           "FILER LAGRET I LISTEN"
    IDS_FILESWRITTENTOLIST                  "Alle valgte filer er lagret i listefilen '%s'."

    IDS_ERROR_COULDNOTOPENLISTFILE          "Kunne ikke Üpne listefilen '%s'."

    IDS_SELECTLISTFILE                      "Velg listefil"

    IDS_LISTFILENAME                        "Filnavn"
    IDS_LISTTITLE                           "Titel"
    IDS_LISTTIME                            "Tid"
    IDS_LISTARTIST                          "Artist"
    IDS_LISTALBUM                           "Album"
    IDS_LISTYEAR                            "èr"
    IDS_LISTGENRE                           "Sjanger"
    IDS_LISTCOMMENT                         "Kommentar"
    IDS_LISTVERSION                         "Ver."
    IDS_LISTLAYER                           "Lag"
    IDS_LISTFREQUENCY                       "Frek."
    IDS_LISTBITRATE                         "Bitrate"
    IDS_LISTMODE                            "Modi"

    IDS_ERROR_MP3FILEHEADING                "MP3 FIL FEIL"
    IDS_ERROR_COULDNOTOPENMP3FILE           "Kunne ikke Üpne MP3 fil '%s'. Feil %d."
    IDS_ERROR_NOVALIDMP3FILE                "Fil '%s' ser ikke ut til Ü vëre en gyldig MP3 fil. Vis du endrer den, gjõr du det pÜ eget ansvar..."
    IDS_ERROR_COULDNOTGETFILESIZE           "Kunne ikke hente stõrrelsen pÜ filen."
    IDS_ERROR_COULDNOTREMOVETAG             "Kunne ikke fjerne tag."

    IDS_GENRENONE                           "(ingen)"
    IDS_OPENMP3FILES                        "èpne MP3 filer"

    IDS_NOFILENOTAG                         "Ingen filer, ingen tag!"
    IDS_ID3TAGREADONLY                      "ID3-tag v%s (kun les)"
    IDS_ID3TAG                              "ID3-tag v%s"
    IDS_FILEHASNOTAGREADONLY                "Filen har ingen ID3-tag (kun les)"
    IDS_FILEHASNOTAG                        "Filen har ingen ID3-tag"

    IDS_NOFILESSELECTED                     "Ingen filer er valgt"
    IDS_ONEFILESELECTED                     "1 fil er valgt"
    IDS_FILESSELECTED                       "%lu filer er valgt"

    IDS_FILESINSERTEDHEADING                "FILER LAGT TIL"
    IDS_FILESWEREINSERTED                   "%ld nye MP3 filer fra katalogen eller dens underkataloger er lagt til listen."
    IDS_ONEFILEWASINSERTED                  "En ny MP3 fil er funnet og ble lagt til listen.."
    IDS_NOFILESFOUNDHEADING                 "INGEN NYE FILER BLE FUNNET"
    IDS_NONEWFILESWEREFOUND                 "Ingen nye MP3 filer ble funnet i katalogen eller dens underkataloger."

    IDS_ERROR_INIFILEHEADING                "INI FIL FEIL"
    IDS_ERROR_NOOROLDINIFILE                "INI-filen's ('%s') versjon stemmer ikke overens med gjeldene versjon av Minta (eller ingen INI-fil ble funnet) Standard instillinger vil bli brukt."
    IDS_ERROR_COULDNOTOPENINIFILE           "Kunne ikke Üpne INI-fil '%s'. Standard instillinger vil bli brukt."

    IDS_XOFX                                "%ld av %ld"
    IDS_OK                                  "Ok"

    IDS_REALLYSAVETAGSHEADING               "VIRKELIG LAGRE?"
    IDS_REALLYSAVETAGS                      "Legg til gjeldene tag til alle valgte filer?"

    IDS_SAVEALL                             "Lagre alt"
    IDS_TAGSSAVEDHEADING                    "TAG LAGRET"
    IDS_SOMETAGSSAVED                       "Tag er lagret for %ld valgte filer (De andre var muligens kun lesbare)"
    IDS_ALLTAGSSAVED                        "Tag er lagret for alle valgte filer."

    IDS_REALLYRENAMEALLHEADING              "VIRKELIG OMDùPE?"
    IDS_REALLYRENAMEALL                     "Omdõpe alle filer (med tag) til deres Titel?"
    IDS_ERROR_RENAMINGFAILED                "Omdõpeing av file '%s' feilet: Feil %d."

    IDS_FILESRENAMEDHEADING                 "FILER OMDùPET"
    IDS_SOMEFILESRENAMED                    "%ld valgte filer er omdõpt (De andre hadde muligens ingen tag)"
    IDS_ALLFILESRENAMED                     "Alle valgte filer er omdõpt."

    IDS_REALLYREMOVETAGSHEADING             "VIRKELIG SLETTE?"
    IDS_REALLYREMOVETAGS                    "Virkelig slette alle tag for alle valgte filer?"

    IDS_TAGSREMOVEDHEADING                  "TAG FJERNET"
    IDS_SOMETAGSREMOVED                     "Tag er fjernet ifra %ld valgte filer (De andre var muligens kun lesbare eller hadde ingen tag)"
    IDS_ALLTAGSREMOVED                      "Tag er slettet ifra alle valgte filer."

    IDS_TOTALTIME                           "Total tid: "

    IDS_UNKNOWN                             "Ukjent"
    IDS_NONE                                "Ingen"

    IDS_STEREO                              "Stereo"
    IDS_JOINTSTEREO                         "Sammenpasset-Stereo"
    IDS_DUALCHANNEL                         "Dobbel-Kannal"
    IDS_SINGLECHANNEL                       "Mono"

    IDS_TITLE                               "Titel"
    IDS_TIME                                "Tid"
    IDS_ARTIST                              "Artist"
    IDS_ALBUM                               "Album"
    IDS_YEAR                                "èr"
    IDS_GENRE                               "Sjanger"
    IDS_COMMENT                             "Kommentar"
    IDS_FILENAMEPATH                        "Filnavn & sti"
    IDS_VERSION                             "Versjon"
    IDS_LAYER                               "Lag"
    IDS_FREQUENCY                           "Frekvens"
    IDS_BITRATE                             "Bitrate"
    IDS_MODE                                "Modi"

    IDS_PAGENOTIFICATION                    "Tilbakemelding"
    IDS_PAGEKEEPINFO                        "Behold info"
    IDS_PAGEMISC                            "Div"
    IDS_PAGELANGUAGE                        "SprÜk"

    IDS_ERROR_LAUNCHFAILED                  "Starter MP3 spiller med '%s' feilet. Feil %d."
    IDS_ERROR_GENREIDALREADYASSIGNED        "Id (%d) av sjangeren i linje %d er allerede tilordnet."

    IDS_UNKNOWNGENRENAME                    "(ukjent)"
    IDS_ERROR_NOFILENODIR                   "'%s': Ingen fil, ingen katalog, Jeg er litt forvirret! Feil %d."

    IDS_NOFILENOINFO                        "Ingen fil, ingen info!"
    IDS_FILEINFOGROUPNAME                   "Fil informasjon"
    IDS_FILEINFOGROUPNAMEINVALID            "Fil informasjon (sansynlig ukorrekt)"

    IDS_FILEHASUNSUPPORTEDTAG               "ID3-tag v%s (ikke supportert)"
}

/*************************************************************************/
