/***
 italiano.rc - Risorse in Italiano per Minta.

##############################

        Minta
        =====
        italiano.rc
        v 2.50 - GA (thth)
        2002-05-20

        (c) 2002 Alberto Gabrielli

##############################



##############################

2002-05-20 thth: - Just compiled.
2002-05-18 thth: - Change in main help menu.
2002-05-15 thth: - Reverted the layout of the fileinfo fields to old aligned state.
                 - Added some DT_MNEMONIC to the *file dialog* window ;-)
                 - Swapped shortcuts for WID_PB_REMOVE and WID_PB_DELETEFROMLIST in main window acceltable.
2002-05-11 thth: - Increased the width of some options in the settings again.
2002-05-05 thth: - Increased the width of some options in the settings.
                 - Changed the layout of some fileinfo fields to make long labels fit better.
2002-05-01 thth: - Increased the width of some controls in the List dialog.

##############################


 Note to translators:
    Basically you need to translate everything in "..." :-)
    "\t", "%ld", "%s" and the like are special control sequences (C(++)
       programmers will find them familiar) - just leave them as they are.
    Please adjust the hotkeys (the stuff in the
       ACCELTABLE ... BEGIN ... END
       statements) and the corresponding "markers" for the hotkeys in the
       dialogs above ("E~xit" e.g. means underline the "x" to show that
       ALT+"x" is the hotkey for this button)
    It would be nice if you could translate the comments (like this one) too.
    An editor that supports syntax highlighting for *.rc files (like FTE
       or EPM) could make life a bit easier for you.
    If you have any questions, just contact me at  thth@gmx.net

 Thank you very much!
 ***/

/* Please do NOT try to translate the following statement :-) */
RCINCLUDE "src\common.rc"

/** Menu *****************************************************************/ /*fold00*/

MENU ID_MAIN
BEGIN
  SUBMENU "~Brano", WID_MENU_FILES
  BEGIN
    MENUITEM "~Apri...\tAlt+A",        WID_PB_FILES
    MENUITEM "Apri ~gruppo...",          WID_PB_AUTOOPEN
    MENUITEM SEPARATOR
    MENUITEM "~Togli dalla lista\tAlt+T", WID_PB_DELETEFROMLIST
    MENUITEM "Togli tutti dalla lista",            WID_PB_DELETEALLFROMLIST
    MENUITEM SEPARATOR
    MENUITEM "Cambia ~Nomi...",             WID_PB_RENAMEALL
    MENUITEM "~Lista...\tAlt+L",        WID_PB_LIST
    MENUITEM SEPARATOR
    MENUITEM "~Impostazioni...",           WID_PB_SETTINGS
    MENUITEM SEPARATOR
    MENUITEM "Esci\tAlt+Q",          WID_PB_EXIT
  END
  SUBMENU "~Contrassegno", WID_MENU_TAG
  BEGIN
/*    MENUITEM "~Cut",                   WID_PB_CUTTAG
    MENUITEM "Cop~y",                  WID_PB_COPYTAG
    MENUITEM "~Paste",                 WID_PB_PASTETAG
    MENUITEM SEPARATOR */
    MENUITEM "Re~gistra",          WID_PB_SAVE
    MENUITEM "Registra & ~successivo\tAlt+S/+",    WID_PB_SAVENEXT
    MENUITEM "Registra & ~precedente\tAlt+P/-",WID_PB_SAVEPREV
    MENUITEM "Scrivi su ~tutti",              WID_PB_SAVEALL
    MENUITEM SEPARATOR
    MENUITEM "~Rimuovi\tAlt+R", WID_PB_REMOVE
    MENUITEM "Rimuovi da tutti",            WID_PB_REMOVEALL
  END
  SUBMENU "~Extra", WID_MENU_TAG
  BEGIN
#ifdef _PLAYERCOMMAND_
    MENUITEM "~Suona brano",             WID_PB_PLAY
#endif
    MENUITEM "Mostra i ~pulsanti",          WID_PB_SHOWBUTTONS,,MIA_CHECKED
#ifdef _SHOWFILEINFO_
    MENUITEM "Mostra le ~informazioni sul brano",         WID_PB_SHOWFILEINFO,,MIA_CHECKED
#endif
#ifdef _TOOLBAR_
    MENUITEM "Mostra ~bottoniera###pulsantiera",          WID_PB_SHOWTOOLBAR,,MIA_CHECKED
#endif
  END
  SUBMENU "Ai~uto", 0, MIS_HELP
  BEGIN
    MENUITEM "In ~generale...",       WID_MAIN_HELP
    MENUITEM "~Indice...",      HM_HELP_CONTENTS
    MENUITEM "~Contesto...",       HM_GENERAL_HELP,MIS_HELP

//    MENUITEM "~Keys help...",          HM_KEYS_HELP
    MENUITEM SEPARATOR
    MENUITEM "~Minta...",   WID_PB_ABOUT
  END
END

/** Data main window *****************************************************/ /*fold00*/

DLGTEMPLATE ID_MAIN LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG  PSZ_NAMEVERSION, ID_MAIN, 82, 11, 382, 193, 0L,
            FCF_SYSMENU | FCF_TITLEBAR | FCF_MINBUTTON | FCF_TASKLIST
    BEGIN
        GROUPBOX        "Nessun brano selezionato###[prob mai visualizzato]", WID_G_FILES, 4, 156, 298, 24
        CONTROL         "", WID_DDL_FILES, 12, 92, 282, 79, WC_COMBOBOX,
                        CBS_DROPDOWNLIST | WS_GROUP | WS_TABSTOP |
                        WS_VISIBLE

        GROUPBOX        "", WID_G_FILEINFO, 4, 80, 298, 72

        RTEXT           "Versione:", WID_ST_VERSION, 10, 132, 60, 12, DT_VCENTER
        ENTRYFIELD      "", WID_E_VERSION, 76, 134, 76, 8, ES_MARGIN | ES_AUTOTAB |
                        ES_READONLY
        RTEXT           "Livello:", WID_ST_LAYER, 10, 120, 60, 12, DT_VCENTER
        ENTRYFIELD      "", WID_E_LAYER, 76, 122, 76, 8, ES_MARGIN | ES_AUTOTAB |
                        ES_READONLY
        RTEXT           "Campionam.:", WID_ST_FREQUENCY, 10, 108, 60, 12, DT_VCENTER
/*
        RTEXT           "Fc Campionamento:", WID_ST_FREQUENCY, 10, 108, 80, 12, DT_VCENTER
*/
        ENTRYFIELD      "", WID_E_FREQUENCY, 76, 110, 76, 8, ES_MARGIN | ES_AUTOTAB |
                        ES_READONLY
        RTEXT           "Bitrate:", WID_ST_BITRATE, 10, 96, 60, 12, DT_VCENTER
        ENTRYFIELD      "", WID_E_BITRATE, 76, 98, 76, 8, ES_MARGIN | ES_AUTOTAB |
                        ES_READONLY
        RTEXT           "Modo:", WID_ST_MODE, 10, 84, 60, 12, DT_VCENTER
        ENTRYFIELD      "", WID_E_MODE, 76, 86, 76, 8, ES_MARGIN | ES_AUTOTAB |
                        ES_READONLY

        CHECKBOX        "Originale", WID_CB_ORIGINAL, 166, 134, 62, 10
        CHECKBOX        "Privato", WID_CB_PRIVATE, 166, 124, 62, 10
        CHECKBOX        "Copyright", WID_CB_COPYRIGHT, 166, 114, 62, 10
        CHECKBOX        "CRC", WID_CB_CRCS, 232, 134, 62, 10
        CHECKBOX        "Padding", WID_CB_PADDING, 232, 124, 62, 10

        RTEXT           "Preenfasi:", WID_ST_EMPHASIS, 166, 96, 60, 12, DT_VCENTER
        ENTRYFIELD      "", WID_E_EMPHASIS, 232, 98, 60, 8, ES_MARGIN | ES_AUTOTAB |
                        ES_READONLY
        RTEXT           "Durata prevista:", WID_ST_TIME, 166, 84, 60, 12, DT_VCENTER
        ENTRYFIELD      "", WID_E_TIME, 232, 86, 60, 8, ES_MARGIN | ES_AUTOTAB |
                        ES_READONLY

        GROUPBOX        "(Tagged information)###[prob. mai visualizzato]", WID_G_TAG, 4, 4, 298, 72

        RTEXT           "Titolo:", WID_ST_TITLE, 10, 56, 60, 12, DT_VCENTER
        ENTRYFIELD      "", WID_E_TITLE, 76, 58, 216, 8, ES_MARGIN
        RTEXT           "Artista:", WID_ST_ARTIST, 10, 44, 60, 12, DT_VCENTER
        ENTRYFIELD      "", WID_E_ARTIST, 76, 46, 216, 8, ES_MARGIN
        RTEXT           "Album:", WID_ST_ALBUM, 10, 32, 60, 12, DT_VCENTER
        ENTRYFIELD      "", WID_E_ALBUM, 76, 34, 216, 8, ES_MARGIN
        RTEXT           "Anno:", WID_ST_YEAR, 10, 20, 60, 12, DT_VCENTER
        ENTRYFIELD      "", WID_E_YEAR, 76, 22, 46, 8, ES_MARGIN
        RTEXT           "Genere:", WID_ST_GENRE, 128, 20, 60, 12, DT_VCENTER
        CONTROL         "", WID_DDL_GENRE, 192, 0, 102, 32, WC_COMBOBOX,
                        CBS_DROPDOWNLIST | WS_GROUP | WS_TABSTOP |
                        WS_VISIBLE
        RTEXT           "Commento:", WID_ST_COMMENT, 10, 8, 60, 12, DT_VCENTER
        ENTRYFIELD      "", WID_E_COMMENT, 76, 10, 126, 8, ES_MARGIN
        RTEXT           "Traccia #:", WID_ST_TRACK, 216, 8, 44, 12, DT_VCENTER
        SPINBUTTON      WID_SB_TRACK, 264, 9, 30, 12,
                        SPBS_NUMERICONLY | SPBS_MASTER | SPBS_JUSTRIGHT |
                        WS_GROUP

        PUSHBUTTON      "~Apri...", WID_PB_FILES, 310, 162, 66, 15
        PUSHBUTTON      "Re~gistra", WID_PB_SAVE, 310, 140, 66, 15
        PUSHBUTTON      "Scrivi su tutti", WID_PB_SAVEALL, 310, 124, 66, 15
        PUSHBUTTON      "~Rimuovi", WID_PB_REMOVE, 310, 102, 66, 15
        PUSHBUTTON      "Rimuovi da tutti", WID_PB_REMOVEALL, 310, 86, 66, 15
        PUSHBUTTON      "~Lista...", WID_PB_LIST, 310, 64, 66, 15
        PUSHBUTTON      "~Minta...", WID_PB_ABOUT, 310, 42, 66, 15
        PUSHBUTTON      "Esci", WID_PB_EXIT, 310, 4, 66, 15
        PUSHBUTTON      "Aiuto", WID_PB_HELP, 310, 26, 66, 15, BS_HELP |
                        BS_NOPOINTERFOCUS
    END
END

ACCELTABLE ID_MAIN PRELOAD
BEGIN
   "q",    WID_PB_EXIT, CHAR, ALT
   "a",    WID_PB_FILES, CHAR, ALT
   "g",    WID_PB_SAVE, CHAR, ALT
   "r",    WID_PB_REMOVE, CHAR, ALT
   "m",    WID_PB_ABOUT, CHAR, ALT
   "l",    WID_PB_LIST, CHAR, ALT
   VK_F4,  WID_PB_EXIT, VIRTUALKEY, ALT
   "s",    WID_PB_SAVENEXT, CHAR, ALT
   "p",    WID_PB_SAVEPREV, CHAR, ALT
   "+",    WID_PB_SAVENEXT, CHAR, ALT
   "-",    WID_PB_SAVEPREV, CHAR, ALT
   "t",    WID_PB_DELETEFROMLIST, CHAR, ALT

   ".",    WID_PB_TEST, CHAR, ALT
END

/** Data lister window ***************************************************/ /*fold00*/

DLGTEMPLATE ID_DLG_LISTER LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG  "Crea lista", ID_DLG_LISTER, 78, 57, 310, 110, WS_VISIBLE,
            FCF_SYSMENU | FCF_TITLEBAR
    BEGIN
        GROUPBOX        "Archivio", WID_NIL, 4, 82, 302, 25
        ENTRYFIELD      "", WID_E_LISTFILENAME, 12, 88, 228, 8, ES_MARGIN
        PUSHBUTTON      "~Seleziona...", WID_PB_FIND, 246, 86, 54, 12

        GROUPBOX        "Informazioni da inserire:", WID_NIL, 4, 22, 146, 58
        LISTBOX         WID_LB_INCLUDE, 10, 27, 132, 44, LS_MULTIPLESEL

        GROUPBOX        "Opzioni", WID_NIL, 156, 22, 150, 58
        AUTOCHECKBOX    "~Testata", WID_CB_OUTPUTHEADER,
                        162, 59, 138, 10
        AUTOCHECKBOX    "~Durata totale", WID_CB_OUTPUTTIME,
                        162, 48, 138, 10
        AUTOCHECKBOX    "~Larghezza colonne automatica", WID_CB_AUTOSIZE,
                        162, 37, 138, 10
        AUTOCHECKBOX    "Solo brani con cont~rassegno", WID_CB_ONLYTAGGED,
                        162, 26, 138, 10

        DEFPUSHBUTTON   "~Crea", WID_PB_OK, 4, 3, 50, 14
        PUSHBUTTON      "Ann~ulla", WID_PB_CANCEL, 60, 3, 50, 14
        PUSHBUTTON      "Aiuto", WID_NIL, 256, 3, 50, 14, BS_HELP |
                        BS_NOPOINTERFOCUS
    END
END

ACCELTABLE ID_DLG_LISTER PRELOAD
BEGIN
   "s",    WID_PB_FIND, CHAR, CONTROL
   "d",    WID_CB_OUTPUTTIME, CHAR, CONTROL
   "t",    WID_CB_OUTPUTHEADER, CHAR, CONTROL
   "l",    WID_CB_AUTOSIZE, CHAR, CONTROL

/*bug ? mancava c ed ok non funzionava*/
   "r",    WID_CB_ONLYTAGGED, CHAR, CONTROL
   "c",    WID_PB_OK, CHAR, CONTROL
   VK_ESC, WID_PB_CANCEL, VIRTUALKEY
END

/** Data product info window *********************************************/ /*fold00*/

DLGTEMPLATE ID_DLG_ABOUT LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG  "Informazioni su ""Minta""", ID_DLG_ABOUT, 90, 56, 250, 80, WS_VISIBLE,
            FCF_SYSMENU | FCF_TITLEBAR
    BEGIN
        ICON            1, ID_MAIN, 8, 58, 21, 16, WS_GROUP
        LTEXT           PSZ_NAMEVERSION, WID_NIL, 42, 64, 202, 9
                        PRESPARAMS PP_FOREGROUNDCOLOR, 0x00C80A0AL
        LTEXT           "Un programma per gestire i contrassegni MP3.",
                        WID_NIL, 42, 53, 202, 8
        LTEXT           "Copyright ¸ 1998-2002 Thorsten Thielen", WID_NIL, 42, 44,
                        202, 8
        LTEXT           "Posta elettronica: thth@gmx.net", WID_NIL, 42, 32, 202, 8
        LTEXT           "Pagina Web: "
                        "http://www.teamos2.ipcon.de/~thielen/programs/minta",
                        WID_NIL, 42, 13, 202, 17, DT_WORDBREAK
        LTEXT           "Versione italiana: ¸ 2002 Alberto Gabrielli.", WID_NIL,
                        42, 4, 202, 8
        DEFPUSHBUTTON   "~Ok", WID_NIL, 8, 4, 22, 26
    END
END

/** Data find directory dialog *******************************************/ /*fold00*/

DLGTEMPLATE ID_DLG_FINDDIR LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG  "Cerca brani in questa cartella:", ID_DLG_FINDDIR, 116, 32, 200, 150,
            WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
    BEGIN
        LTEXT           "~Disco:", WID_NIL, 6, 139, 188, 8, DT_MNEMONIC
        CONTROL         "", WID_LB_DRIVES, 6, 88, 188, 50, WC_COMBOBOX,
                        CBS_DROPDOWNLIST | WS_GROUP | WS_TABSTOP |
                        WS_VISIBLE
        LTEXT           "~Cartella: (comprese sottocartelle)", WID_NIL, 6, 115, 188, 8, DT_MNEMONIC
        LISTBOX         WID_LB_DIRECTORIES, 6, 33, 188, 80
        LTEXT           "", WID_ST_PATH, 6, 22, 188, 8
        DEFPUSHBUTTON   "~Trova", DID_OK, 4, 4, 40, 14
        PUSHBUTTON      "Ann~ulla", DID_CANCEL, 48, 4, 40, 14
    END
END

ACCELTABLE ID_ACCELTABLE_FINDDIR
BEGIN
        "o", DID_OK, CONTROL
        "c", WID_LB_DIRECTORIES, CONTROL
        "d", WID_LB_DRIVES, CONTROL
        VK_ESC, DID_CANCEL, VIRTUALKEY
END

/** Data settings window *************************************************/ /*fold00*/

DLGTEMPLATE ID_DLG_SETTINGS LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG  "Le impostazioni di Minta", ID_DLG_SETTINGS, 104, 26, 280, 186, 0L,
            FCF_SYSMENU | FCF_TITLEBAR
    BEGIN
        NOTEBOOK        WID_NB_SETTINGS, 5, 21, 270, 160, BKS_BACKPAGESTR |
                        BKS_MAJORTABTOP | BKS_ROUNDEDTABS |
                        BKS_TABTEXTCENTER | BKS_SPIRALBIND | WS_GROUP |
                        BKS_TABBEDDIALOG
        DEFPUSHBUTTON   "~Ok", WID_PB_OK, 5, 4, 60, 14
        PUSHBUTTON      "Ann~ulla modifiche", WID_PB_UNDO, 70, 4, 100, 14
        PUSHBUTTON      "Aiuto", WID_PB_HELP, 215, 4, 60, 14, BS_HELP |
                        BS_NOPOINTERFOCUS
    END
END

DLGTEMPLATE ID_DLG_SETTINGSPAGE1 LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG  "", ID_DLG_SETTINGSPAGE1, 10, 10, 220, 120, NOT FS_DLGBORDER |
            WS_VISIBLE
    BEGIN
        GROUPBOX        "Avverti quando...", WID_NIL, 5, 51, 210, 64
        AUTOCHECKBOX    "Ô stato caricato un brano.", WID_CB_NOTIFYLOAD,
                        11, 95, 198, 10
        AUTOCHECKBOX    "I contrassegni sono stati rimossi.", WID_CB_NOTIFYREMOVE,
                        11, 85, 198, 10
        AUTOCHECKBOX    "I contrassegni sono stati inseriti.", WID_CB_NOTIFYSAVE,
                        11, 75, 198, 10
        AUTOCHECKBOX    "La lista Š pronta.", WID_CB_NOTIFYLIST,
                        11, 65, 198, 10
        AUTOCHECKBOX    "I brani sono stati rinominati.", WID_CB_NOTIFYRENAME,
                        11, 55, 198, 10
        GROUPBOX        "Tipo", WID_NIL, 5, 5, 210, 42
/* Note: You do NOT need to translate the following three statements
         word by word :-) */
        AUTORADIOBUTTON "Pulsante normale", WID_RB_CLICKAWAY,
                        11, 28, 198, 10, WS_TABSTOP | WS_GROUP
        AUTORADIOBUTTON "Avviso a scomparsa automatica", WID_RB_TIMER,
                        11, 18, 198, 10, WS_TABSTOP
        AUTORADIOBUTTON "Suono", WID_RB_BEEP,
                        11, 8, 198, 10, WS_TABSTOP
    END
END

DLGTEMPLATE ID_DLG_SETTINGSPAGE2 LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG  "", ID_DLG_SETTINGSPAGE2, 10, 10, 220, 120, NOT FS_DLGBORDER |
            WS_VISIBLE
    BEGIN
        AUTOCHECKBOX    "Mantieni informazioni al cambio di brano.",
                        WID_CB_KEEP, 11, 101, 200, 10
        GROUPBOX        "Mantieni...", WID_NIL, 5, 53, 220, 44
        AUTOCHECKBOX    "Titolo", WID_CB_KEEPTITLE, 11, 77, 90, 10
        AUTOCHECKBOX    "Artista", WID_CB_KEEPARTIST, 117, 77, 90, 10
        AUTOCHECKBOX    "Album", WID_CB_KEEPALBUM, 11, 67, 90, 10
        AUTOCHECKBOX    "Anno", WID_CB_KEEPYEAR, 117, 67, 90, 10
        AUTOCHECKBOX    "Genere", WID_CB_KEEPGENRE, 11, 57, 90, 10
        AUTOCHECKBOX    "Commento", WID_CB_KEEPCOMMENT, 117, 57, 90, 10
        GROUPBOX        "Opzioni", WID_NIL, 5, 5, 220, 44
        AUTOCHECKBOX    "Incrementa / decrementa numero di traccia.",
                        WID_CB_ADJUSTTRACK, 11, 29, 208,  10
        AUTOCHECKBOX    "Mantieni le informazioni solo se non gi… presenti.",
                        WID_CB_ONLYIFMISSING, 11,19, 208, 10
    END
END

DLGTEMPLATE ID_DLG_SETTINGSPAGE3 LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG  "", ID_DLG_SETTINGSPAGE3, 10, 10, 230, 120, NOT FS_DLGBORDER |
            WS_VISIBLE
    BEGIN
        GROUPBOX        "Leggi i generi da...", WID_NIL, 5, 92, 240, 23
        ENTRYFIELD      "", WID_E_GENRESFILE, 13, 97, 224, 8, ES_MARGIN
        GROUPBOX        "Comando per avviare un riproduttore esterno", WID_NIL, 5, 65, 240, 23
        ENTRYFIELD      "", WID_E_PLAYERCOMMAND, 13, 70, 224, 8, ES_MARGIN
        GROUPBOX        "Altre opzioni", WID_NIL, 5, 5, 240, 56
        AUTOCHECKBOX    "Se assente, usa come Titolo il nome fisico del brano.",
                        WID_CB_FILENAMETOTITLE, 11, 42, 228, 10
        AUTOCHECKBOX    "Usa la finestra di apertura personalizzata.",
                        WID_CB_CUSTOMFILEDIALOG, 11, 32, 228, 10
        AUTOCHECKBOX    "Non avvisare in caso di brani difettosi.",
                        WID_CB_NOINVALIDMP3WARNING, 11, 22, 228, 10
        AUTOCHECKBOX    "Usa caratteri pieni anche per i brani in sola lettura.",
                        WID_CB_ONLYREADONLY, 11, 12, 228, 10
    END
END

DLGTEMPLATE ID_DLG_SETTINGSPAGE4 LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG  "", ID_DLG_SETTINGSPAGE4, 10, 10, 220, 120, NOT FS_DLGBORDER |
            WS_VISIBLE
    BEGIN
        GROUPBOX        "Programma", WID_NIL, 5, 62, 119, 54
        LISTBOX         WID_LB_LANGUAGES, 11, 66, 106, 40, LS_NOADJUSTPOS
        GROUPBOX        "Aiuto in linea", WID_NIL, 5, 5, 119, 54
        LISTBOX         WID_LB_LANGUAGESHELP, 11, 9, 106, 40, LS_NOADJUSTPOS
        CONTROL         1, 1, 130, 5, 84, 36, WC_STATIC, SS_BITMAP |
                        WS_GROUP | WS_VISIBLE
        LTEXT           "Nota: queste impostazioni avranno effetto solo dopo "
                        "il prossimo avvio del programma."
                        "",
                        WID_ST_LANGNOTE, 130, 45, 120, 70,
                        DT_WORDBREAK
    END
END

/** Data notification window *********************************************/ /*fold00*/

DLGTEMPLATE ID_DLG_NOTIFY LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG  "", ID_DLG_NOTIFY, 160, 104, 200, 40, WS_VISIBLE, FCF_TITLEBAR
    BEGIN
        CTEXT   "", WID_ST_NOTIFY, 4, 2, 192, 36, DT_WORDBREAK
    END
END

/** Data renamer window **************************************************/ /*fold00*/

DLGTEMPLATE ID_DLG_RENAMER LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG  "Ridenominazione automatica", ID_DLG_RENAMER, 52, 48, 270, 104, WS_VISIBLE,
            FCF_SYSMENU | FCF_TITLEBAR
    BEGIN
        GROUPBOX        "~Maschera", WID_NIL, 4, 76, 262, 24, DT_MNEMONIC
        ENTRYFIELD      "", WID_E_TEMPLATE, 12, 82, 246, 8, ES_MARGIN
        GROUPBOX        "Opzioni", WID_NIL, 4, 24, 262, 50
        AUTOCHECKBOX    "~Limita la lunghezza dei nomi a non pi— di...",
                        WID_CB_LIMITLENGTH, 10, 54, 250, 10
        SPINBUTTON      WID_SB_LENGTH, 24, 42, 38, 12, SPBS_MASTER | WS_GROUP
        LTEXT           "caratteri", WID_NIL, 66, 42, 194, 8
        AUTOCHECKBOX    "~Sostituisci gli spazi con sottolineature (trattino basso)", WID_CB_REPLACESPACES,
                        10, 28, 250, 10
        DEFPUSHBUTTON   "~Cambia i nomi", WID_PB_RENAME, 4, 4, 60, 16
        PUSHBUTTON      "Ann~ulla", WID_PB_CANCEL, 68, 4, 60, 16
        PUSHBUTTON      "Aiuto", WID_PB_HELP, 206, 4, 60, 16, BS_HELP |
                        BS_NOPOINTERFOCUS
    END
END

/** File dialog window ***************************************************/ /*fold00*/

DLGTEMPLATE ID_DLG_FILE LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG  "", ID_DLG_FILE, 70, 22, 300, 145, WS_VISIBLE, FCF_SYSMENU |
            FCF_TITLEBAR
    BEGIN
        LTEXT           "~Nome", DID_FILENAME_TXT, 4, 127, 48, 12, DT_MNEMONIC
        ENTRYFIELD      "", DID_FILENAME_ED, 58, 131, 236, 8, ES_MARGIN
        LTEXT           "~Tipo", DID_FILTER_TXT, 4, 114, 46, 12, DT_VCENTER | DT_MNEMONIC
        CONTROL         "", DID_FILTER_CB, 56, 81, 240, 45, WC_COMBOBOX,
                        CBS_DROPDOWNLIST | WS_GROUP | WS_TABSTOP |
                        WS_VISIBLE
        LTEXT           "~Disco", DID_DRIVE_TXT, 4, 103, 34, 8, DT_MNEMONIC
        CONTROL         "", DID_DRIVE_CB, 4, 22, 34, 80, WC_COMBOBOX,
                        CBS_DROPDOWNLIST | WS_GROUP | WS_TABSTOP |
                        WS_VISIBLE
        LTEXT           "~Cartella", DID_DIRECTORY_TXT, 44, 103, 122, 8, DT_MNEMONIC
        LISTBOX         DID_DIRECTORY_LB, 44, 22, 122, 80, LS_NOADJUSTPOS | LS_OWNERDRAW | LS_HORZSCROLL
        LTEXT           "~Brani", DID_FILES_TXT, 172, 103, 124, 8, DT_MNEMONIC
        LISTBOX         DID_FILES_LB, 172, 22, 124, 80, LS_NOADJUSTPOS |
                        LS_HORZSCROLL
        DEFPUSHBUTTON   "~Apri", DID_OK_PB, 4, 4, 50, 14
        PUSHBUTTON      "Ann~ulla", DID_CANCEL_PB, 60, 4, 50, 14
    END
END

/** String table *********************************************************/ /*fold00*/

STRINGTABLE
{
    IDS_ERROR_GENREFILEHEADING              "ERRORE NELLA LISTA DEI GENERI"
    IDS_ERROR_COULDNOTOPENGENREFILE         "Non riesco ad aprire la lista dei generi '%s'. Errore %d."

    IDS_ERROR_HELPERHEADING                 "ERRORE DELL'AIUTO"
    IDS_ERROR_COULDNOTINITHELP              "Impossibile avviare l'aiuto in linea."
    IDS_ERROR_COULDNOTINITHELPFILE          "Non riesco ad inizializzare l'aiuto in linea. L'archivio '%s' Š presente nella cartella di Minta?"

    IDS_ERROR_BORINGLISTHEADING             "QUESTA SAREBBE UNA LISTA NOIOSISSIMA..."
    IDS_ERROR_BORINGLIST                    "Devi selezionare almeno una voce da includere nella lista!"

    IDS_ERROR_LISTFILEHEADING               "ERRORE NEL NOME DELLA LISTA"
    IDS_ERROR_MUSTGIVEVALIDLISTFILENAME     "Dovete fornire un nome di archivio accettabile."

    IDS_ERROR_GENERALHEADING                "ERRORE"
    IDS_ERROR_WRONGGENREFOUND               "Trovato genere errato per un MP3."
    IDS_SCANNINGFORMAT                      "Analizzo - %s"
    IDS_WRITINGFORMAT                       "Scrivo - %s"
    IDS_IGNORINGFORMAT                      "Ignoro - %s"
    IDS_SEARCHINGFORMAT                     "Cerco - %s"
    IDS_SAVINGFORMAT                        "Registro - %s"
    IDS_RENAMINGFORMAT                      "Rinomino - %s"
    IDS_REMOVINGFORMAT                      "Elimino - %s"

    IDS_FILESWRITTENTOLISTHEADING           "BRANI INSERITI NELLA LISTA"
    IDS_FILESWRITTENTOLIST                  "Ho inserito tutti i brani selezionati nella lista '%s'."

    IDS_ERROR_COULDNOTOPENLISTFILE          "Impossibile aprire la lista '%s'."

    IDS_SELECTLISTFILE                      "Seleziona una lista"

    IDS_LISTFILENAME                        "Nome & Cartella"
    IDS_LISTTITLE                           "Titolo"
    IDS_LISTTIME                            "Durata"
    IDS_LISTARTIST                          "Artista"
    IDS_LISTALBUM                           "Album"
    IDS_LISTYEAR                            "Anno"
    IDS_LISTGENRE                           "Genere"
    IDS_LISTCOMMENT                         "Commento"
    IDS_LISTVERSION                         "Versione"
    IDS_LISTLAYER                           "Livello"
    IDS_LISTFREQUENCY                       "Campionamento"
    IDS_LISTBITRATE                         "Bitrate"
    IDS_LISTMODE                            "Modo"

    IDS_ERROR_MP3FILEHEADING                "ERRORE NELL'ARCHIVIO MP3"
    IDS_ERROR_COULDNOTOPENMP3FILE           "Non riesco ad aprire il brano MP3 '%s'. Errore %d."
    IDS_ERROR_NOVALIDMP3FILE                "L'archivio '%s' sembra non essere in un formato MP3 valido. Se lo modificate agite a vostro rischio..."
    IDS_ERROR_COULDNOTGETFILESIZE           "Non riesco a determinare la dimensione del brano."
    IDS_ERROR_COULDNOTREMOVETAG             "Non riesco a rimuovere il contrassegno."

    IDS_GENRENONE                           "(nessuno)"
    IDS_OPENMP3FILES                        "Apri brani MP3"

    IDS_NOFILENOTAG                         "Niente brano, niente contrassegno..."
    IDS_ID3TAGREADONLY                      "Contrassegno ID3 v%s (sola lettura)"
    IDS_ID3TAG                              "Contrassegno ID3 v%s"
    IDS_FILEHASNOTAGREADONLY                "Il brano non ha un contrassegno ID3 (sola lettura)"
    IDS_FILEHASNOTAG                        "Il brano non ha un contrassegno ID3"

    IDS_NOFILESSELECTED                     "Nessun brano selezionato"
    IDS_ONEFILESELECTED                     "Un brano inserito"
    IDS_FILESSELECTED                       "%lu brani inseriti (selezionati)"

    IDS_FILESINSERTEDHEADING                "BRANI INSERITI"
    IDS_FILESWEREINSERTED                   "Ho inserito nella lista %ld nuovi brani MP3 dalla cartella e dalle sue sottocartelle."
    IDS_ONEFILEWASINSERTED                  "Ho trovato ed inserito in lista un nuovo brano MP3."
    IDS_NOFILESFOUNDHEADING                 "NESSUN NUOVO BRANO TROVATO"
    IDS_NONEWFILESWEREFOUND                 "Non ho trovato nuovi brani MP3 nella cartella o nelle sue sottocartelle."

    IDS_ERROR_INIFILEHEADING                "ERRORE NELL'ARCHIVIO INI"
    IDS_ERROR_NOOROLDINIFILE                "La versione dell'archivio ""INI"" ('%s') non corrisponde a quella dell'attuale versione di Minta (Oppure: archivio ""INI"" non trovato). Uso i valori predefiniti."
    IDS_ERROR_COULDNOTOPENINIFILE           "Impossibile aprire l'archivio ""INI"" '%s'. Uso i valori predefiniti."

    IDS_XOFX                                "%ld di %ld"
    IDS_OK                                  "Ok"

    IDS_REALLYSAVETAGSHEADING               "SEI SICURO DI VOLER REGISTRARE?"
    IDS_REALLYSAVETAGS                      "Aggiungo questo contrassegno a TUTTI i brani selezionati?"

    IDS_SAVEALL                             "Registra tutto"
    IDS_TAGSSAVEDHEADING                    "CONTRASSEGNI REGISTRATI"
    IDS_SOMETAGSSAVED                       "Ho scritto i contrassegni di %ld dei brani selezionati. (Probabilmente gli altri sono in sola lettura)"
    IDS_ALLTAGSSAVED                        "Ho scritto i contrassegni di tutti i brani selezionati."

    IDS_REALLYRENAMEALLHEADING              "Rinomino?"
    IDS_REALLYRENAMEALL                     "Rinomino col rispettivo Titolo tutti i brani con contrassegno?"
    IDS_ERROR_RENAMINGFAILED                "Ridenominazione del brano '%s' fallita. Errore %d."

    IDS_FILESRENAMEDHEADING                 "BRANI RINOMINATI"
    IDS_SOMEFILESRENAMED                    "Ho rinominato %ld dei brani selezionati. (Gli altri probabilmente non hanno contrassegno)"
    IDS_ALLFILESRENAMED                     "Ho rinominato tutti i brani selezionati."

    IDS_REALLYREMOVETAGSHEADING             "SEI SICURO DI VOLER CANCELLARE?"
    IDS_REALLYREMOVETAGS                    "Elimino veramente i contrassegni da tutti i brani selezionati?"

    IDS_TAGSREMOVEDHEADING                  "CONTRASSEGNI ELIMINATI"
    IDS_SOMETAGSREMOVED                     "Ho tolto i contrassegni da %ld dei brani selezionati. (Gli altri probabilmente sono in sola lettura o non hanno contrassegno)"
    IDS_ALLTAGSREMOVED                      "Ho tolto i contrassegni da tutti i brani selezionati."

    IDS_TOTALTIME                           "Durata totale: "

    IDS_UNKNOWN                             "Sconosciuto"
    IDS_NONE                                "No"

    IDS_STEREO                              "Stereo"
    IDS_JOINTSTEREO                         "Joint-Stereo"
    IDS_DUALCHANNEL                         "Dual-Channel"
    IDS_SINGLECHANNEL                       "Mono"

    IDS_TITLE                               "Titolo"
    IDS_TIME                                "Durata"
    IDS_ARTIST                              "Artista"
    IDS_ALBUM                               "Album"
    IDS_YEAR                                "Anno"
    IDS_GENRE                               "Genere"
    IDS_COMMENT                             "Commento"
    IDS_FILENAMEPATH                        "Nome & Cartella"
    IDS_VERSION                             "Versione"
    IDS_LAYER                               "Livello"
    IDS_FREQUENCY                           "Campionamento"
    IDS_BITRATE                             "Bitrate"
    IDS_MODE                                "Modo"

    IDS_PAGENOTIFICATION                    "Avvisi"
    IDS_PAGEKEEPINFO                        "Informazioni da mantenere"
    IDS_PAGEMISC                            "Varie"
    IDS_PAGELANGUAGE                        "Lingua"

    IDS_ERROR_LAUNCHFAILED                  "Non riesco a lanciare il lettore MP3 usando '%s'. Errore %d."
    IDS_ERROR_GENREIDALREADYASSIGNED        "L'identificatore di genere '%d' alla riga %d Š gi… in uso."

    IDS_UNKNOWNGENRENAME                    "(sconosciuto)"
    IDS_ERROR_NOFILENODIR                   "'%s' non Š n‚ un brano n‚ una cartella. Minta Š un po' confusa! Errore %d."

    IDS_NOFILENOINFO                        "Niente brano, niente informazioni..."
    IDS_FILEINFOGROUPNAME                   "Informationi sul brano"
    IDS_FILEINFOGROUPNAMEINVALID            "Informationi sul brano (probabilmente non corrette)"

    IDS_FILEHASUNSUPPORTEDTAG               "Contrassegno ID3 v%s. (non ancora supportato)"
}

/*************************************************************************/
